@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.c-loading-spinner {
    animation: rotating .8s steps(8, end) infinite;
}